*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
body,html{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cursor{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    mix-blend-mode: difference;
    transition: all linear 0.2s;   

}
h1{
    font-size: 10vw;
    
}
